node_modules/
.DS_Store
Thumbs.db

web/.next/
web/node_modules/
web/.env
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

engine/bin/
engine/.env
engine/.air.toml

.idea/
.vscode/

artifacts/
*.log
*.err.log
*.msi
